@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,body{
    scroll-behavior: smooth;
    font-family: 'Poppins';
    margin: 0%;
    padding: 0%;
}

.navbar{                    /*navigation bar*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
    height: 2%;
    background-color: rgb(48, 48, 48); 
    padding: 1vh;
}

.navbar > a{
    text-decoration: none;
    color: white;
    margin-left: 3%;
}

.navbar > input{     /* here, '>' means every <input> element in an element with a class as "navbar", line 12 HTML */
    border-width: 0;
    background: none;
    color: white;
    margin-left: 3%;
}

.navbar> img {
    background-image: url(images/logo.png);
    width: 1.5em;  /*em -> length of font-size, 1.5 em -> a length 1.5 times the font size*/
}

.product-big{
    width: 100%;
    text-align: center;
    position: relative;
}

.product-big > div{
    width: 100%;
    position: absolute; 
    text-align: center; 
    top: 0%; 
    left: 50%;
    transform: translate(-50%,0%);
}

.product-grid{
    display: grid;                          /* have a grid table, the children of this element (line 29 HTML) would pe placed in a grid*/
    grid-template-columns: repeat(2, 1fr); /*number of columns*/
    margin: 1%;
    gap: 1%;   /*gap betweeen every column*/
    width: 98%;
}

.product-small{
    position: relative;
    width: 45vw;     /*vw, a unit -> 100vw = length of screen width */
}

.product-small > img{     /* every <image> child of an element that goes by a class 'product-small' */
    width: 100%;            /* 100%-> 100% the width of it's parent element */
    height: 40vw;
}

.center{                                
    width: 100%;
    position: absolute;
    text-align: center;       /* align the children */
    top: 50%;                 /* position the element that goes by 'center' class 50% distance from the top of the element */
    left: 50%;
    transform: translate(-50%, -50%);    /* move element down on the x axis by 50% and left on y axis by 50%,*/
}
.center-top{
    margin-top: 10%;
    width: 100%;
    position: absolute; 
    text-align: center; 
    top: 0%; 
    left: 50%;
    transform: translate(-50%,0%);
}

.product-small > div > div{  /* the <div> child of <div> child of an element with class "product-small"*/
    text-align: center; 
    width: 100%;
}

a{
    text-decoration: none;   /* text decoration- hyoerlink underline*/
    color: rgb(0, 102, 204);
}
